/*fonts*/
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2"),
      url("../fonts/TTNorms-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
      url('../fonts/TTNormsPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2"),
      url("../fonts/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*general styles*/
:root {
  --main-dark: #0d1c2e;
  --main-blue: #2a8bf2;
  --main-red: #ff3366;
  --main-light-red: #fecbd8;
  --main-gray-blue: #707c97;
  --main-light-blue: #e6ecfe;
  --main-gray-white: #fafbff;
  --main-white: #ffffff;
  --main-green: #00c305;
  --main-light-green: #bff0c1;
}
.body {
	padding: 0;
	margin: 0;
	font-family: "TT Norms", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.main {
	width: 1920px;
	padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*profile*/
.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 1080px;
  overflow-y: hidden;
  background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  height: 1080px;
  padding-bottom: 48px;
  background-color: var(--main-white);
  box-shadow: 15px 0px 57px 8px rgba(86, 128, 248, 0.1);
}
.add-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 83px;
}
.profile__change {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}
.profile__change-item {
  position: relative;
  padding: 0 5px;
}
.profile__change-link,
.dropdown__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: var(--main-dark);
  text-decoration: none;
  text-transform: capitalize;
}
  .profile__change-link::after {
    content: "";
    width: 19px;
    height: 19px;
    margin-left: 6px;
    background-image: url("../img/chevron-down.svg");
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
.profile__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
  list-style-type: none; 
}
.dropdown-on {
  display: block !important;
}
.dropdown_item {
  padding-top: 10px;
  padding-left: 5px;
}
  .dropdown__link:hover {
    text-decoration: underline;   
  }
.profile__menu {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu__item {
  margin-top: 15px;
}
.menu__link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 700;
  color: var(--main-gray-blue);
  text-decoration: none;
}
.active a {
  color: var(--main-blue);
  box-shadow: inset 3px 0 0 0 var(--main-blue);
  background-image: linear-gradient(to right, rgba(42, 139, 242, 0.2) 0, var(--main-white) 15px);
}
  .active a.menu__link:hover,
  .menu__link:hover {
    background-color: var(--main-light-blue);
  }
  .menu__link:focus {
    background-color: var(--main-light-blue);
    outline: none;
  }
  .menu__link::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 18px;
    margin-left: 38px;
  }
.menu__home::before {
  background-image: url("../img/home.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu__chat::before {
  background-image: url("../img/chat.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu__contact::before {
  background-image: url("../img/person.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu__notifications::before {
  background-image: url("../img/bell.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu__calendar::before {
  background-image: url("../img/calendar.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.menu__settings::before {
  background-image: url("../img/settings.svg");
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.active a.menu__home::before {
  background-image: url("../img/b-home.svg");
}
.active a.menu__chat::before {
  background-image: url("../img/b-chat.svg");
}
.active a.menu__contact::before {
  background-image: url("../img/b-person.svg");
}
.active a.menu__notifications::before {
  background-image: url("../img/b-bell.svg");
}
.active a.menu__calendar::before {
  background-image: url("../img/b-calendar.svg");
}
.active a.menu__settings::before {
  background-image: url("../img/b-settings.svg");
}
.profile__log-out {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 700;
  color: var(--main-gray-blue);
  text-decoration: none;  
}
  .profile__log-out:hover,
  .profile__log-out:focus {
    background-color: var(--main-light-blue);
    outline: none;
  }
  .profile__log-out::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 18px;
    margin-left: 38px;
    background-image: url("../img/power.svg");
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }

/*chats*/
.chats {
  width: 590px;
  height: 960px;
  margin-top: 110px;
  margin-left: 60px;
  padding: 0 10px 20px;
  overflow-y: scroll;
  scrollbar-color: #b7bdcb transparent;
  scrollbar-width: 6px;
}
/*scrollbar*/
.chats::-webkit-scrollbar {
  width: 1em;
}
.chats::-webkit-scrollbar-track {
  padding: 10px 0;
}
.chats::-webkit-scrollbar-thumb {
  background-color: #b7bdcb;
  border-radius: 10px;
  height: 50px;
}
/*scrollbar end*/
.chats-box-shadow {
  box-shadow: 0px 8px 15px rgba(42, 39, 242, 0.065);
}
.chats__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chats__heading {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 26px;
  font-weight: 500;
}
.chats__recent {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.chats__recent-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-size: 18px;
  line-height: 26px;
  color: var(--main-gray-blue);
  cursor: pointer;
}
  .chats__recent-item::after {
    content: "";
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 7px;
    background-image: url("../img/g-chevron-down.svg");
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
.chats__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  margin: 0;
  padding: 3px;
  list-style-type: none;
  background-color: var(--main-white);
  border-radius: 3px;
}
.chats__dropdown-item {
  white-space: nowrap;
}
.chats__dropdown-item:hover {
  text-decoration: underline;
}
.chats__button {
  display: flex;
  align-items: center;
  padding: 18px 25px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-white);
  background: linear-gradient(92.68deg, #7cb8f7 0%, var(--main-blue) 100%);
  box-shadow: 0px 3px 10px rgba(42, 139, 242, 0.20);
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
  .chats__button::before {
    content: "";
    width: 24px;
    height: 24px;
    margin-right: 7px;
    background-image: url("../img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .chats__button:focus {
    box-shadow: 0 0 5px 5px rgba(42, 100, 200, 0.2);
    outline: none;
  }
  .chats__button:active {
    transform: scale(0.99);
  }
.chats__search-wrapper {
  margin-top: 25px;
  padding: 17px 0;
  background-color: var(--main-white);
  border-radius: 6px;
}
.chats__search {
  display: flex;
  justify-content: space-between;
}
.form-group-search {
  width: 100%;
}
  .form-group-search::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 41px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
  }
.form-group {
  display: flex;
  align-items: center;
}
.chats__input-search {
  flex-grow: 1;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--main-gray-blue);
  border: none;
  background: var(--main-white);
}
.form-group-select {
  margin-right: 40px;
}
.chats__input-select {
  padding: 3px 0px;
  padding-right: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--main-gray-blue);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--main-white);
  background-image: url("../img/g-chevron-down.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: right 0px top 10px;
  border: none;
}
  /* Hide arrow icon in IE browsers */
  .chats__input-select::-ms-expand {
    display: none;
  }
.chats__input-select option {
  padding: 3px 0px;
  border: none;
}
.chats__person {
  margin-top: 20px;
  padding: 30px 40px 40px;
  background-color: var(--main-white);
  border-radius: 6px;
}
.person__top {
  display: flex;
  align-items: center;
}
.person__avatar {
  border-radius: 50%;  
}
.person__link {
  display: block;
  text-decoration: none;
}
.person__link:last-child {
  margin-bottom: 20px;
}
  .person__link:focus,
  .person__link:focus .chats__person,
  .person__link:active .chats__person {
    box-shadow: 0 0 5px 3px rgba(42, 100, 242, 0.3);
    outline: none;
  }
.person__avatar {
  display: block;
}
.name-state {
  flex-grow: 1;
  margin-left: 20px;
}
.person__name {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: var(--main-dark);
}
.person__state {
  margin: 0;
  margin-top: 6px;
}
.state__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--main-blue);
}
.person__last-seen {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--main-gray-blue);
}
.person__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.person__message {
  width: 450px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--main-gray-blue);
}
.unread-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: var(--main-white);
  background-color: var(--main-red);
  border-radius: 50%;
}
.person__message-img {
  margin-right: 6px;
}
.files-wrapper {
  display: flex;
  margin-top: 13px;
}
.person__message-files {
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--main-blue);
  font-weight: 500;
  background-color: var(--main-light-blue);
  border-radius: 20px;
}
.person__message-photos {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 12px;
  color: var(--main-red);
  font-weight: 500;
  background-color: var(--main-light-red);
  border-radius: 20px;
}
.person__message-videos {
  display: flex;
  align-items: center;
  padding: 12px;
  color: var(--main-green);
  font-weight: 500;
  background-color: var(--main-light-green);
  border-radius: 20px;
}
.opened .chats__person {
  background: linear-gradient(96.78deg, #7cb8f7 0%, var(--main-blue) 100%);
}
.opened .state__text {
  color: var(--main-white);
}
.opened .person__last-seen {
  color: var(--main-white);
}
.opened .person__message {
  color: var(--main-white);
}

/*private*/
.private {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 930px;
  margin: 110px auto 0;
  border-radius: 6px 6px 0px 0px;
  background-color: var(--main-white);
}
.private__top {
  padding: 28px;
  padding-left: 60px;
  background-color: var(--main-gray-white);
}
.private__button {
  width: 52px;
  height: 52px;
  background-color: var(--main-white);
  box-shadow: 0 0 10px rgba(42, 139, 242, 0.20);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
  .private__button:active {
    transform: scale(0.99);
  }
.private__button:first-child {
  margin-right: 20px;
}
.private__chat-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 29px 60px;
  height: 700px;
  overflow-y: auto;
}
.chat-flow {
  flex-grow: 1;
  display: flex;
  padding-bottom: 15px;
  flex-direction: column-reverse;
}
.private__chat-bottom {
  display: flex;
  flex-direction: column;
  width: 730px;
  height: 90px;
  margin: 0 auto;
}
.line {
  width: 722px;
  height: 2px;
  margin: 0 auto;
  background-color: var(--main-gray-blue);
  border: none;
}
.form-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.private__form {
  width: 100%;
  display: flex;
  align-items: center;
}
.private__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(325.78deg, var(--main-blue) 14.76%, #7cb8f7 87.3%);
  cursor: pointer;
}
.private__form-img {
  display: block;
}
.private__form-group {
  flex-grow: 1;
}
.private__form-input {
  width: 100%;
  font-weight: 500;
  padding-right: 30px;
  margin-left: 21px;
  border: none;
}
.private__form-smile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.private__form-send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: linear-gradient(325.78deg, var(--main-blue) 14.76%, #7cb8f7 87.3%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.send-buttons__list {
  position: absolute;
  bottom: 85%;
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.send-buttons__list-on {
  display: flex;
}
.send-buttons__item:not(:first-child) {
  margin-top: 10px;
}
.send-buttons__button {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(42, 139, 242, 0.20);
  cursor: pointer;
}
.send-buttons__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--main-blue);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.btn-media {
  background-image: url("../img/w-film.svg");
}
.btn-image {
  background-image: url("../img/w-image.svg");
}
.btn-file {
  background-image: url("../img/w-file.svg");
}

/*messages*/
.private__message {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 550px;
}
/*message-me*/
.message-me {
  align-self: flex-end;
}
.private__message.message-me .message__top::after {
  content: "";
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: 13px;
  background-image: url("../img/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.private__message.message-me .seen::after {
  flex-shrink: 0;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 13px;
  background-image: url("../img/all-done.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.message-me .private__text {
  border-radius: 10px 10px 0 10px;
}
/*end of message-me*/

/*their message*/
.message-they {
  align-self: flex-start;
}
.message-they .message__top {
  flex-direction: row-reverse;
}
.message-they .message__top::after {
  flex-shrink: 0;
  align-self: flex-start;
  content: "";
  width: 36px;
  height: 36px;
  margin-right: 13px;
  border-radius: 50%;
  background-image: url("../img/user-nika.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.message-they .private__time {
  margin-right: 40px;
}
.message-they .message__top .private__text {
  color: #ffffff;
  border-radius: 0 10px 10px 10px;
  background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
}
.message-they a.with-file {
  color: #ffffff;
}
.message-they a.with-file::after {
  background-image: url("../img/w-file.svg");
}
/*end of their message*/

.message__top {
  display: flex;
  align-items: center;
}
.private__settings {
  background: transparent;
  border: none;
  cursor: pointer;
}
.settings__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-image: url("../img/settings-dots.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}
.private__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  text-align: justify;
  font-weight: 500;
  color: var(--main-gray-blue);
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid rgba(112, 124, 151, 0.25);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.with-file {
  align-self: flex-end;
  display: flex;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-blue);
}
  .with-file::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 6px;
    background-image: url("../img/file-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
.private__time {
  align-self: flex-end;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--main-gray-blue);
}
.private__line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  font-weight: 500;
  color: var(--main-gray-blue);
  white-space: nowrap;
}
  .private__line::before {
    content: "";
    width: 100%;
    height: 1px;
    margin-right: 20px;
    background-color: var(--main-light-blue);
  }
  .private__line::after {
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: var(--main-light-blue); 
  }